/* CSS Document */
body{
	color: white;
}
p {font-size: 22px;}
h1{font-size: 40px;}
p, h1{text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.banner{
	padding: 2px 60px;
	width: 300px;
	height: 300px;
	
	animation-duration: 0.5s;
	
	background-image: url(banner/corn.jpg);
	background-size: cover;
}

@keyframes fade{
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.banner, .casa, .food, .visit, .tacos{
	animation-name: fade;
	animation-fill-mode: backwards;
}

.casa{
	animation-duration: 1.5s;
	animation-delay: 0.5s;
}

.food{
	animation-duration: 1s;
	animation-delay: 1s;
}

.visit{
	padding: 5px 50px;
	background-color: #B72015;
	display: inline;
	text-shadow: none;
	
	animation-duration: 2s;
	animation-delay: 1.5s;
}

.tacos{
	animation-duration: 0.5s;
	animation-delay: 2s;
}

